
/*Welcome to this css-file that contains the styles of the following pages:
- index.html
- topicalPage.html
- imageSite.html
- accessibility.html


We chose "accessibility.html" as the page to have a different visual design, 
while the first three listed above have the same design. However, because there are some
variations in the content, these three pages contains some styles that directly targets 
and styles the elements that are unique to these sites.*/





/* THE FOLLOWING SECTION OF THIS STYLESHEET CONTAINS THE SHARED STYLE OF INDEX.HTML, IMAGESIT.HTML AND TOPICAL.HTML*/

/*This code sets the background color on these pages*/
body {
    background-color:#FBECE5;
}

/* These two codes sets the style for both the main heading and all the subheadings on these pages*/
.main-heading{
    font-family: Verdana, sans-serif;
    font-size: 230%;
    color: black;
    text-align: center;
    -moz-box-align: center;
    box-sizing: 700px;
    padding: 20px;
    border: 10px;
    margin: 10px;
    }

.purple-subheadings{
    font-family: Verdana, sans-serif;
    font-size: 150%;
    font-weight: bold;
    color: darkmagenta;
    margin-bottom: 0;
    
}

/*This code styles all the paragraph text on all the sites*/
p {
    font-family: Verdana, sans-serif;
    font-size: 100%;
    color: black;
    line-height: 1.5;
}

/* In the html-files, all the images have captions and credits that are placed into 
a "photo-caption"-class and a "photo-credit"-class. These two classes are styled underneath
to have the same colors, size, boldness, placement and spacing. In order to make the visual
design more coherent.*/
.photo-caption{
    color: darkmagenta;
    font-weight: bold;
    font-family: Verdana, sans-serif;
    font-size: 95%;
    text-align: left;
    margin-top: 30px;
    margin-bottom: 1%;
}
.photo-credit{
    color: black;
    font-style: italic;
    font-family: Verdana, sans-serif;
    font-size: 80%;
    text-align: left;
    margin-top: 0;
}




/* Underneath follows the code for that styles the menu bar
And to set the background with fading colors in the menu bar, 
we used the following source:
https://www.w3schools.com/howto/howto_js_topnav.asp
https://www.w3schools.com/colors/colors_gradient.asp*/
.menuBar {
    overflow: hidden;
    background: linear-gradient(to bottom right, rgb(118, 118, 225) 0%, #2d3133 90%);
    width:100%;
}


/*The following two styles sets the design of the text and links available in the menu bar.*/
.menuBar a {
    float: left;
    color: whitesmoke;
    text-align: center;
    padding: 25px;
    text-decoration: none;
    font-family: Verdana, sans-serif;
    font-size: 100%;
    letter-spacing: 2px;
  }
  
  .menuBar a:hover {
    color:whitesmoke;
    font-weight:bold;
  }


/*The code underneath styles the content box and sets its size*/
.contextbox{
    -moz-box-align: center;
    box-sizing: 700px;
    margin-left: 0;
    margin-right:0;
    margin-top: 0;
    text-align: left; 
}



/* The following code contains the styling of the footer of all the pages. 
The first codes underneath styles a box with a border where the */
 .footer{
    margin-top: 70px;
    width: 100%;
    padding: 50px;
    background: linear-gradient(to bottom right, #2d3133 0%, rgb(118, 118, 225) 90%);
    color: whitesmoke;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 170px;
    font-family: Verdana, sans-serif;
    box-sizing: border-box;
 }

/*The following three codes styles much of the text placed in the footer. By placing it in center, 
giving it a size and spacing, and setting the whitesmoke-color.*/
 .footer section{
    text-align: center;
 }


 .footer section h3{
    font-weight:300;
    margin-bottom: 20px;
    margin-top: 30px;
    letter-spacing: 1px;
 }

 .footer section p{
    float:none;
    color:whitesmoke;
    text-align:center;
    font-family:Verdana, sans-serif;
    font-size:100%;
    letter-spacing:1px;
    display: block;
    margin-bottom:10px;
    }


/*These two codes styles the link elements inside the first column in the footer. 
The ".col-1 a"-code makes the text appear the same as the other footer-text. However,
the ".col-1 a:hover"-code makes the text change to look like a link whenever it is hovered over*/
.col-1 a{
    display:block;
    text-decoration: none;
    color: whitesmoke;
    margin-bottom:10px;
}

.col-1 a:hover{
    text-decoration: underline;
    color:blue;
}

/*Underneath a input-boxe where users may write in their email-adress is styled*/
 form input{
    width:270px;
    height: 45px;
    border-radius: 4px;
    text-align:center;
    margin-top:10px;
    margin-bottom:40px;
    outline:none;
    border:none;
 }

/*This code creates a button underneath the input-box for the email-adress.
Here users may click on after writing in their email-adress in order subscribe*/
 form button{
    background: transparent;
    border: 2px solid whitesmoke;
    color:whitesmoke;
    border-radius: 30px;
    padding: 10px 15px;
    font-size: 15px;
    cursor: pointer;
 }

/*Underneath the social media-icons used in the footer are styled to spesific colours and sizes.*/
.fa-facebook-f{
    font-size: 30px;
    color: rgb(41, 41, 129);
}

.fa-instagram{
    font-size:30px;
    color: rgb(110, 6, 110);
}

.fa-snapchat{
    font-size:30px;
    color:rgba(255, 255, 0, 0.777);
}

.fa-twitter{
    font-size:30px;
    color:skyblue;
}

.fa-tiktok{
    font-size:30px;
    color: black;
}


/*The copyright-icon is here styled with a spesific boldness, size and positioning*/
.fa-copyright{
    font-size:12px;
}
.copyright{
    font-size: 12px;
    font-weight: bold;
    position:relative;  
}
















/* THE FOLLOWING SECTION OF THIS STYLESHEET CONTAINS CODE THAT TARGET ELEMENTS THAT ARE UNIQUE TO INDEX.HTML */

.index-wrapper{
    max-width:1200px;
    margin:0 auto;
    display:grid;
    gap:1rem;
    grid-template-columns: repeat(auto-fit, minmax(1fr));
}

.index-section{
    width: 1fr;
    padding: 50px;
    margin-left:30px;
    margin-right: 30px;
    margin-bottom: 10px;
}


/*text to the background image on INDEX.HTML*/
.back-photo{
    min-height: 100vh;
    width:100%;
    /*The photo was taken by one of the groupmember*/
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(/img/pilestredet35.JPEG);
    background-position: center;
    background-size: cover;
    position: relative;
}
.back-photo{
    text-align: center;
}
.back-photo h1{
    font-size:99px;
    color:whitesmoke;
    font-weight: 600;
    margin-top: 110px;
    display: inline-block;
    transition: 0.5s;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.back-photo h1:hover{
    -webkit-text-stroke:2px whitesmoke;
    color: transparent;
}

.back-photo a{
    text-decoration: none;
    display: inline-block;
    color:whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 240x;
    border: 2px solid whitesmoke;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 20px;
}






/* THE FOLLOWING SECTION OF THIS STYLESHEET CONTAINS CODE THAT TARGET ELEMENTS THAT ARE UNIQUE TO IMAGESITE.HTML */

/*The following two codelines styles the preamble of imageSite.html*/
.about-Oslomet {
    -moz-box-align: center;
    box-sizing: 700px;
    padding: 20px;
    border: 10px;
    margin-top: 0px;
    margin-bottom: 40px;
    margin-left: 20px;
    margin-right:20px;
} 
.about-Oslomet-text{
    text-align: center;
    font-family: Verdana, sans-serif;
    font-size: 110%;
    color: black;
}


/*This code styles the paragraphs in the imageSite.html site specifically*/
.imageSite-text {
    font-family: Verdana, sans-serif;
    font-size: 100%;
    color: black;
    line-height: 2;
}


/* The following codes create a responsive grid structure on imageSite.html
    The sources used to create this structure were:
    https://www.w3schools.com/howto/howto_css_image_grid_responsive.asp

    https://travishorn.com/responsive-grid-in-2-minutes-with-css-grid-layout-4842a41420fe
    
    We placed most of the text into a "imageSite-subcontainer"-class and styles them
    directly. Additionally, we placed most of the images into a "imageSite-photo-container"-class
    and set the size of the container and the image to fit the page. 
*/
.imageSite-subcontainer{
	margin-top: 200px;
	margin-bottom:200px;
    margin-left: 20px;
    margin-right: 20px;
	padding:1rem;
    height: 100px;
}

.imageSite-photo-container{
	flex:auto;
	max-width: fit-content;
	padding: 1rem;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.imageSite-photo-container img{
	margin-top:40px;
    margin-top: 40px;
	vertical-align: middle;
	width: 100%;
}



/*Two parts of this site contained two images that were supposed to be at the same line as a textbox.
In order to do this, we first placed the images and the text in their own classes in order to target
these gridboxes directly and to adapt a unique style to make the content fit properly into the page.*/
.imageSite-doubleimage-subcontainer{
	padding:1rem;
    height: 100px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 70px;
    margin-bottom: 40px;
}

.imageSite-doublephoto-container{
    flex: auto;
    max-width: 1000px;
    margin-top: 40px;
    margin-bottom: 40px;
}


/* Underneath follows four pieces of code that we used to create
two colomns inside the gridbox and place two images within these. 
We first set the columns and the images to certain sizes, 
and then made the images appear at the same line. 

To get pictures on the same line we took inspiration from the code on the following source:
https://www.w3schools.com/howto/howto_css_images_side_by_side.asp*/
.column { 
    float: left;
    width: 50%; /*33.33%;*/
    padding: 5px;
    box-sizing: border-box;
}
.column img{
   width: 97%;
   height: 285px;
}


.one-row::after {
    content:"";
    clear: both;
    display: table;
}


/*This "imageSite-wrapper"-class is used to place the sections of the class contains
into a grid and to decide upon the style of these boxes. 
To make the grid responsive so that the content adapts whenever viewed on other devices 
or when zooming the webbrowser in or out.

Sources used to do this:
https://www.w3schools.com/howto/howto_css_image_grid_responsive.asp 
https://travishorn.com/responsive-grid-in-2-minutes-with-css-grid-layout-4842a41420fe 
*/
.imageSite-wrapper{
	max-width:1200px;
    margin-top: 20px;
    /*margin-bottom: 40px;*/
    margin:0 auto;
	display: grid;
	gap:1rem;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    place-content: center;
}



/*The "imagesite-image1"-class is used to style most of the images on the site. 
The "imagesite-image1:hover"-code is used to make the images zoom out and get bigger
whenever they are hovered over. The source used to do this:
https://www.w3schools.com/howto/howto_css_zoom_hover.asp 
*/
.imagesite-image1 {
    width: 50px;
    height: 500px;
    transform: scale(1);
    transition: transform .2s;
}

.imagesite-image1:hover{
    transform: scale(1.13);
    margin-bottom:20px;
}


/*The two places on the imagesite that are placed in the same row needed to be styled in a different way.
Therefore, we placed them into their own classes to be able to target them directly. 
Additionally, the "imagesite-double-images:hover"-code makes images zoom out but in a slightly smaller 
way than the other images.*/
.imagesite-double-images{
    width: 150px;
    transform: scale(1);
    transition: transform .2s;
}

.imagesite-double-images:hover{
    transform: scale(1.1);
    margin-right: 20px;
    margin-bottom: 20px;
}




/* THE FOLLOWING SECTION OF THIS STYLESHEET CONTAINS CODE THAT TARGET ELEMENTS THAT ARE UNIQUE TO TOPICALPAGE.HTML */

/*First the topicalpage contains some links within the text. 
These links require a different style in order to make them
intuitively appear as links to the user.*/
.links{
    color: blue;
    font-family: Verdana, sans-serif;
    font-size: 80%;

}



/*To create the responsive grids in the topical page, we used the same format as we did on the image site.
      
Here we placed all the text into the "topical-subcontainer"-class and set the grid to a certain size. 
All the images was then placed into the "topical-image-container"-class and style the container with this class.
And then we used "topical-image-container img"-code to size the images. 

We used the following sources:
    https://www.w3schools.com/howto/howto_css_image_grid_responsive.asp

    https://travishorn.com/responsive-grid-in-2-minutes-with-css-grid-layout-4842a41420fe 
*/
.topical-subcontainer{
	margin-top: 150px;
	margin-bottom:200px;
	padding:1rem;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 60px;
    margin-bottom: 60px;
}

.topical-image-container{
	flex:auto;
	max-width: fit-content;
	padding: 1rem;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 60px;
    margin-bottom: 60px;
}


.topical-image-container img{
	margin-top:8px;
	vertical-align: middle;
	width: 80%;
} 



/*With the "topical-wrapper"-class we placed is used to create grid template with to grid boxes 
aside of eachother. And make it we used the "repeat(auto-fit, minmax(300px, 1fr))"-code. This
makes the bokses responsive so that it adapts the content whenever viewed on other devices 
or when zooming the webbrowser in or out.

Sources used to do this:
    https://www.w3schools.com/howto/howto_css_image_grid_responsive.asp 
    https://travishorn.com/responsive-grid-in-2-minutes-with-css-grid-layout-4842a41420fe 
*/
.topical-wrapper{
    max-width:1200px;
    margin-top: 20px;
	margin:0 auto;
	display: grid;
	gap:1rem;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}


/* The topical page contains a section with a quote which is placed within 
the "topical-quote-container"-class with characteristis that differentiates it
from the "topical-subcontainer"-classes used elsewhere on this page. 
Amongst other things this container only includes text that is not placed in line with a picture.
However, even though the "topical-quote-container" is not placed within the "topical-wrapper"-class
it is still responsive.

Underneath the different text-elements withing the "topical-quote-container"-class is styled. Here 
the quote itself is set as slightly bigger, in another color and font type than the "citation-origin"-class 
which contains the name of the person from which the quote originates. This is done to differentiate 
the classes text-elements and to make it easier for users of the website to distinguish the quote as 
a type of textual element that´s different from other text.*/

.topical-quote-container{
    text-align: center;
    margin-top: 90px;
    margin-bottom: 90px;
}
.quote{
    font-family: American Typewriter, serif;
    font-size: 150%;
    color: darkmagenta;
    text-align: center;

}
.citation-origin{
    font-family: Verdana, sans-serif;
    font-size: 100%;
    color: black;
    text-align: center;
}


/*The codes underneath styles the images on the topical page. And the "topical-image1:hover"-code 
is used to make the images zoom out when hovered over.*/
.topical-image1 {
    width: 100%; 
    transform: scale(1);
    transition: transform .2s;
}

.topical-image1:hover{
    transform: scale(1.1);
    margin-bottom:20px;
}


.topical-image2 {
    width: 100%; 
    transform: scale(1);
    transition: transform .2s;
}
.topical-image2:hover{
    transform: scale(1.13);
    margin-bottom:20px;
}

.topical-image3 {
    width: 100%; 
    transform: scale(1);
    transition: transform .2s;
    
}
.topical-image3:hover{
    transform: scale(1.15);
    margin-bottom:20px;
}

/*This code is used to place the images in the center*/
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}




/* THE FOLLOWING SECTION OF THIS STYLESHEET CONTAINS CODE THAT TARGET ELEMENTS THAT ARE UNIQUE TO ACCESSIBILITY.HTML 
WHICH IS THE SITE THAT CONTAINS A DIFFERENT VISUAL DESIGN*/


/*The following code styles the menu bar on the accessibility site to have a different colour scheme than 
the other sites. Here we used to pair two shades of green and fade them together to give the site a forrest
theme.
To fade the colors we used the following source:
:https://www.w3schools.com/howto/howto_js_topnav.asp
https://www.w3schools.com/colors/colors_gradient.asp*/
.menuBar-accessibility {
    overflow: hidden;
    background: linear-gradient(to bottom right,#003366 0%,#009933 90%);
}

/*These two codes creates the style of the links in the menu bar. Their color, size and spacing.
The ":hover"- makes the links bold and black whenever hovered over*/
.menuBar-accessibility a {
    float: left;
    color: whitesmoke;
    text-align: center;
    padding: 25px;
    text-decoration: none;
    font-family: Verdana, sans-serif;
    font-size: 100%;
    letter-spacing: 2px;
  }
  
  .menuBar-accessibility a:hover {
    color:whitesmoke;
    font-weight:bold;
}


/*This places the body of the accessibility site into a contextbox that allows us to style the 
main elements of the page directly. Here we place create the size and margins of the box and sets
the background color with a green tint*/
.accessibility-contentbox{
    background-color: #e3e7e1;
    -moz-box-align: center;
    box-sizing: 700px;
    margin-left: 0;
    margin-right: 0;
    margin-top:0;
    text-align:left;
}

/*This code creates a sticky box that keeps its position while scrolling down
The source we used to create this: https://www.w3schools.com/howto/howto_css_sticky_element.asp */
aside.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #009933;
    float: right;
    width: 15%;
    padding: 15px;
    margin: 15px;
    font-family: Verdana, sans-serif;
    font-size: 100%;
}

aside.sticky ul li{
    list-style: none;
}
/*This code styles the placement and size of the star-icon that is placed 
as bullotpoints within the list in the sticky-box*/
.fa-star{
    font-size:15px;
    margin-right: 15px;
}




/* Underneath follows the code for Footer in the accessibility page. 
First the footer is created and set to a green fading color. The same as with the 
menu bar on this page*/

.footer-accessibility{
    margin-top: 70px;
    width: 100%;
    padding: 50px;
    background: linear-gradient(to bottom right,#009933 0%,#003366 90%);
    color: whitesmoke;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 170px;
    font-family: Verdana, sans-serif;
    box-sizing: border-box;
 }

/*This code places the text at the center*/
 .footer-accessibility section{
    text-align: center;
 }

/*Underneath follows the codes that styles the text-elements of the accessibility site*/
 .footer-accessibility section h3{
    font-weight: 300;
    margin-bottom: 20px;
    margin-top: 30px;
    letter-spacing: 1px;
 }

 .footer-accessibility section p{
    float:none;
    color:whitesmoke;
    text-align:center;
    font-family:Verdana, sans-serif;
    font-size:100%;
    letter-spacing:1px;
    display: block;
    margin-bottom:10px;
    }

/*Here the copyright icon is styled.*/
    .copyright-accessibility{
        font-size: 12px;
        font-weight: bold;
        position:relative;  
    }





