
/* THE FOLLOWING SECTION OF THIS STYLESHEET CONTAINS THE STYLE OF THE IDEX.HTML AND IMAGESITE1.HTML*/

/* Styles for both index.html page and image site*/

.menuBar {
    overflow: hidden;
    background-color: black;
}

.menuBar a {
    float: left;
    color: whitesmoke;
    text-align: center;
    padding: 25px;
    text-decoration: none;
    font-family: verdana;
    font-size: 100%;
  }
  
  .menuBar a:hover {
    background-color: darkmagenta;      /* rgba(255, 230, 0, 0.88); */ 
    color: black;
  }
  

.introduction {
    -moz-box-align: center;
    box-sizing: 700px;
    padding: 20px;
    border: 10px;
    margin: 10px;
    text-align: left;   
}

.indexIntro {
    font-family: verdana;
    font-size: 200%;
    color: black;

}

.welcome {
    -moz-box-align: center;
    box-sizing: 700px;
    padding: 20px;
    border: 10px;
    margin: 10px;
    text-align: left;    
}

.indexWelcome {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 230%;
    color: black;
    text-align: left;
}

.oslometboardAuthor {
    color: black;
    font-family: verdana;
    size: 150%;
    cursor: pointer;
    text-align: center;

}

.oslometboardAuthor:hover{
    color: darkmagenta;
}

.oslometBoardP35{
    size: 30px;
    border-radius: 8px;  
    transform: scale(1); 
}

.aboutOslomet {
    -moz-box-align: center;
    box-sizing: 700px;
    padding: 20px;
    border: 10px;
    margin: 20px;
    text-align: left;
}

.indexOslomet {
    font-family: verdana;
    font-size: 100%;
    color: black; 
}

.bitOslomet {
    font-family: verdana;
    font-size: 115%;
    font-weight: bold;
    color: darkmagenta;
    
}

/* separate CSS for image site*/
.topicalImages {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 230%;
    color: black;
    text-align: left;
    margin: 20px;
}



/*THE FOLLOWING SECTION OF THIS STYLESHEET CONTAINS THE STYLE OF THE TOPICAL PAGE*/

/*Styles of the text on the Topical Page*/

.topicalMainHead{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 230%;
    color: black;
    text-align: center;
}

.topicalSubheadings{
    font-family: verdana;
    font-size: 150%;
    color: darkmagenta;

}

.topicalPLinks{
    color: rosybrown;
    font-family: verdana;
    font-size: 80%;

}


.topicalText{
    font-family: verdana;
    font-size: 100%;
    color: black;

}

/*Style of the content box in the Topical Page*/
.topicalContextbox{
    -moz-box-align: center;
    box-sizing: 700px;
    padding: 30px;
    border: 20px;
    margin: 20px;
    text-align: left;   

}

/*Styles of the images on the Topical Page*/
.topicalImage1 {
    size: 30px;
    border-radius: 8px;  
    transform: scale(1);
}

.topicalImage2 {
    size: 15px;
    border-radius: 8px;  
    transform: scale(1);
}

.topicalImage3 {
    size: 15px;
    border-radius: 8px;  
    transform: scale(1);
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

/*Styles of the caption underneath the images in the Topical Page*/
.imgAuthor{
    color: darkmagenta;
    font-family: verdana;
    size: 150%;
    cursor: pointer;
    text-align: center;
}

.imgAuthor:hover{
    color: black;
}


/* Styles for accessibility page */
.accessibility {
    margin: 30px;
    color:black;
    font-family:Tahoma, Verdana, sans-serif;
    size: 120%
}

.wcag {
    width: 30%;
    padding: 15px;
    margin: 15px;
    float: right;
    font-family: Tahoma, Verdana, sans-serif;
    size: 150%
}
