
/* THE FOLLOWING SECTION OF THIS STYLESHEET CONTAINS THE STYLE OF THE IDEX.HTML*/

/* Styles for index.html page*/

.oslometskiltAuthor {
    color: darkmagenta;
    font-family: verdana;
    size: 150%;
    cursor: pointer;
    text-align: center;

}
.oslometskiltAuthor:hover{
    color: black;
}




/*THE FOLLOWING SECTION OF THIS STYLESHEET CONTAINS THE STYLE OF THE TOPICAL PAGE*/

/*Styles of the text on the Topical Page*/

.topicalMainHead{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 230%;
    color: black;
    text-align: center;
}

.topicalSubheadings{
    font-family: verdana;
    font-size: 150%;
    color: darkmagenta;

}

.topicalPLinks{
    color: rosybrown;
    font-family: verdana;
    font-size: 80%;

}

.topicalText{
    font-family: verdana;
    font-size: 100%;
    color: black;

}

/*Style of the content box in the Topical Page*/
.topicalContextbox{
    -moz-box-align: center;
    box-sizing: 700px;
    padding: 30px;
    border: 20px;
    margin: 20px;
    text-align: left;   

}



/*Styles of the images on the Topical Page*/
.topicalImage1 {
    size: 30px;
    border-radius: 8px;  
    transform: scale(1);
}
.topicalImage2 {
    size: 15px;
    border-radius: 8px;  
    transform: scale(1);
}

.topicalImage3 {
    size: 15px;
    border-radius: 8px;  
    transform: scale(1);
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}
/*Styles of the caption underneath the images in the Topical Page*/

.imgAuthor{
    color: darkmagenta;
    font-family: verdana;
    size: 150%;
    cursor: pointer;
    text-align: center;

}
.imgAuthor:hover{
    color: black;
}



